<!DOCTYPE html>
<html>
	<head>
		<%- include('head.ejs', {
      customPageName: asmuo.name,
      customHead
    }) %>
    <meta property="og:title" content="<%= asmuo.name %>" />
    <meta property="og:description" content="<%= asmuo.name %> (JAR kodas <%= asmuo.jarCode %>)
Turi <%= asmuo.numInsured + asmuo.numInsured2 %> dabuotoją(-us)
Vidutinis atlyginimas <%= asmuo.vidAtlyginimas.toLocaleString('lt-LT', {minimumFractionDigits: 2, maximumFractionDigits: 2}) %> €/mėn. %>
" />
		<meta name="description" content="<%= asmuo.name %> (JAR kodas <%= asmuo.jarCode %>)
Turi <%= asmuo.numInsured + asmuo.numInsured2 %> dabuotoją(-us)
Vidutinis atlyginimas <%= asmuo.vidAtlyginimas.toLocaleString('lt-LT', {minimumFractionDigits: 2, maximumFractionDigits: 2}) %> €/mėn. %>
"/>
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Viešpirkiai" />    
	</head>
	<body>
    <%- include('header.ejs') %>
		<main>
			<h1><%= asmuo.name %></h1>

			<a href="/asmuo/<%= asmuo.jarCode %>.json">↗ JSON</a>
      &nbsp;
      <a href="https://atvira.sodra.lt/imones/detaliai/index.html?code=<%= asmuo.code %>">↗ SODRA</a>
      &nbsp;
      <a href="/pirkejas/<%= asmuo.jarCode %>">↗ Pirkimai</a>
      &nbsp;
      <a href="/tiekejas/<%= asmuo.jarCode %>">↗ Pardavimai</a>



      <p><i>Duomenys <%= asmuo.monthFormatted %></i></p>

      <section style="display: flex; width: 100%;">

        <div style="flex: 1;">
          <h2><u>Kodai</u></h2>
          <h3>Juridinių asmenų registras</h3>
					<pre><%= asmuo.jarCode %></pre>
          <h3>Sodra</h3>
          <pre><%= asmuo.code %></pre>
				</div>
        
        <div style="flex: 1;">
          <h2><u>Veikla</u></h2>
          <h3>Savivaldybė</h3>
					<%= asmuo.municipality %>
          <h3>Tipas</h3>
          <%= asmuo.ecoActName %> (<pre style="display: inline;"><%= asmuo.ecoActCode %></pre>)
				</div>

        <div style="flex: 1;" class="mobileHide"></div>
      </section>

      <section style="display: flex; width: 100%; flex-wrap: wrap;">
        <div style="flex: 1;">
					<h2><u>Darbuotojai</u></h2>
          <h3>Darbo sutartys</h3>
					<%= asmuo.numInsured %> &nbsp;
          <h3>Autorinės ir kitos sutartys</h3>
          <%= asmuo.numInsured2 || 0 %>
          <h3>Viso</h3>
          <%= asmuo.numInsured + asmuo.numInsured2 %>
				</div>

        <div style="flex: 1;">
					<h2><u>Vid. atlyginimai</u></h2>
          <h3>Darbo sutartys</h3>
					<%= asmuo.avgWage.toLocaleString('lt-LT', {minimumFractionDigits: 2, maximumFractionDigits: 2}) %> €/mėn. %> &nbsp;
          <h3>Autorinės ir kitos sutartys</h3>
            <% if (asmuo.avgWage2) { %>
              <%= asmuo.avgWage2.toLocaleString('lt-LT', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %> €/mėn.
            <% } else { %>
              <i>Nėra duomenų</i>
            <% } %>
          <h3>Bendrai</h3>
          <%= asmuo.vidAtlyginimas.toLocaleString('lt-LT', {minimumFractionDigits: 2, maximumFractionDigits: 2}) %> €/mėn. %>
        </div>

        <div class="mobileBreak">
          <h2><u>Mokėjimai</u></h2>
          <h3>Sodra įmokų suma</h3>
          <%= asmuo.tax.toLocaleString('lt-LT', {minimumFractionDigits: 2, maximumFractionDigits: 2}) %> €<br>
          <h3>Atlyginimai</h3>
          <%= asmuo.mokamiAtlyginimai.toLocaleString('lt-LT', {minimumFractionDigits: 2, maximumFractionDigits: 2}) %> €/mėn.<br>
        </div>
      </section>

		</main>
    <%- include('footer.ejs') %>
	</body>
</html>
