<!DOCTYPE html>
<html>
	<head>
		<%- include('head.ejs') %>
		<meta property="og:title" content="Duomenys"/>
		<meta property="og:description" content="Neoficialus tiek pavienių, tiek visų viešųjų pirkimų duomenų parsisiuntimas." /> 
		<meta
			name="description"
			content="Neoficialus tiek pavienių, tiek visų viešųjų pirkimų duomenų parsisiuntimas."
		/>
		<meta property="og:type" content="website" />
	</head>
	<body>
		<%- include('header.ejs') %>
		<main>
			<h1>Duomenys</h1>
			<p>
				Jokiems šioje svetainėje pateiktiems duomenims nėra taikomas jokios rūšies garantijos.
			</p>
			<p>
				Jie yra bendrinami siekiant padidinti viešųjų pirkimų skaidrumą ir padidinti valstybinių duomenų prieinamumą.
			</p>

			<section>
				<h2>Pavieniai pirkimai</h2>
				<p>
					Pavienių pirkimų duomenys pasiekiami .json formatu pagal sutarties unikalų ID. Pvz.: 
					<pre><a href="https://viespirkiai.top/pirkimas/2007700250.json">https://viespirkiai.top/pirkimas/<i><b>2007700250</b></i>.json</a></pre>
				</p>
			</section>

			<section>
				<h2>Juridiniai asmenys</h2>
				<p>
					Juridinių asmenų duomenys pasiekiami .json formatu pagal juridinio asmens JAR kodą. Pvz.: 
					<pre><a href="https://viespirkiai.top/asmuo/110053842.json">https://viespirkiai.top/asmuo/<i><b>110053842</b></i>.json</a></pre>
				</p>
			</section>

			<section>
				<h2>Duomenų eksportai</h2>
				<table style="width: auto; min-width: auto;">
					<thead>
						<tr>
							<th>Pavadnimas</th>
							<th>Data</th>
							<th>Dydis</th>
						</tr>
					</thead>
					<tbody>
						<% eksportai.forEach(eksportas => { %>
							<tr>
								<td><a href="/eksportai/<%= eksportas.id %>"><%= eksportas.pavadinimas %></a></td>
								<td class="center" style="width: 10ch;"><%= eksportas.data.toLocaleDateString('lt-LT') %></td>
								<td class="center" style="width: 10ch;"><%= eksportas.dydisMB %> MB</td>
							</tr>
						<% }); %>
					</tbody>
				</table>
				<br>
				Neradote ko ieškote? Susisiekite <a href="mailto:sveiki@viespirkiai.top">sveiki@viespirkiai.top</a>
			</section>

			<section>
				<h2>Duomenų šaltiniai</h2>
				<ul>
					<li>
						Intitucijų viešųjų pirkimų sutartys: 
						<ul>
							<li>
								<a href="https://eviesiejipirkimai.lt/index.php?option=com_vptpublic&task=sutartys&Itemid=109"> Viešųjų pirkimų tarnyba </a>
							</li>
						</ul>
					</li>
					<li>
						Juridinių asmenų informacija: 
						<ul>
							<li>
								<a href="https://atvira.sodra.lt/imones/rinkiniai/index.html">SODRA</a>
							</li>
							<li>
								<a href="https://data.gov.lt/datasets/673/">VMI / data.gov.lt</a> (<a href="https://creativecommons.org/licenses/by/4.0/deed.lt">Creative Commons Attribution 4.0</a>)
							</li>
							<li>
								<a href="https://data.gov.lt/datasets/1484/">Registrų centras / data.gov.lt</a> (<a href="https://creativecommons.org/licenses/by/4.0/deed.lt">Creative Commons Attribution 4.0</a>)
							</li>
							
						</ul>
					</li>
					<li>
						Adresų informacija:
						<ul>
							<li>
								<a href="https://data.gov.lt/datasets/1287/">Registrų centras / data.gov.lt</a> (<a href="https://creativecommons.org/licenses/by/4.0/deed.lt">Creative Commons Attribution 4.0</a>)
							</li>
							<li>
								WGS84 koordinatės iš <a href="https://nominatim.org/">Nominatim</a> (© <a href="https://www.openstreetmap.org/copyright" target="_blank" rel="noopener">OpenStreetMap contributors</a>)
							</li>
						</ul>
					</li>
				</ul>
			</section>
		</main>
		<%- include('footer.ejs') %>
	</body>
</html>
