<div>
    <h2><%= label %></h2>
    <input
        type="text"
        name="<%= name %>"
        id="<%= name %>"
        value="<%= values[name] || "" %>"
        placeholder="<%= placeholder || '' %>"
    />
</div>
